  <div class="color">
    <div class="container d-flex justify-content-center">
      <div class="">
        <img class="img-net" src="https://cdn.cookielaw.org/logos/dd6b162f-1a32-456a-9cfe-897231c7763c/4345ea78-053c-46d2-b11e-09adaef973dc/Netflix_Logo_PMS.png" alt="Description of image">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
        <p class="mt-3"> <%= link_to "create new list", new_list_path, class:"text-decoration-none btn btn-outline-secondary btn-sm" %> </p>
        <% @lists.each do |list|%>
        <div class="box d-grid col-md-3 m-3">
          <%= link_to list.name, list_path(list), class: "mt-2 text-decoration-none text"%>
        </div>
        <% end %>
    </div>
  </div>
