.color{
  background-color: black;
  
}

.img-net{
  width: 40em;
  height: 20em;

}

.box{
  border: 1px;
  background-color: rgb(109, 107, 107);
  box-shadow: 1px 1px 15px rgb(255, 255, 255);
  width: 100px;
  height: 65px;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: aquamarine;
}
.text{
  color: #D9232E;
}
